 * {
        background: #123f56;
      }
      .zoom {
      background-color: red;
      }

      .container {
        padding: 0;
        margin: 0 auto;

        text-align: center;
        color: aliceblue;
        font-size: 2rem;
        font-weight: bold;
        font-style: cursive;
      }
      .container-menu {
        background-color: grey;
        margin-top: 50px;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-content: space-between;
        flex-basis: 100px;
        align-items: center;
      }
      @media screen and (max-width: 560px) {
        .container-menu {
          display: flex;
          flex-flow: column wrap;
          justify-content: center;
          align-content: center;
        }
      }
      .items1 {
        box-sizing: border-box;
        border-radius: 10%;
        border: 2px solid #eee;

        padding: 1rem;
        margin: 1rem;
        align-items: center;

        animation: itmes1 5s linear 1s backwards;
        transition: 10s transform;
      }
      @keyframes itmes1 {
        from {
          transform: translate(-1000px, 0px) scale(3) skew(180deg);
        }
        to {
          transform: translate(0px, 0px);
        }
      }
      .items2 {
        box-sizing: border-box;
        border-radius: 10%;
        border: 2px solid #eee;

        padding: 1rem;
        margin: 1rem;
        align-items: center;

        animation: itmes2 5s linear 1s backwards;
        transition: 10s transform;
      }
      @keyframes itmes2 {
        from {
          transform: translate(0px, -1000px) scale(-2);
        }
        to {
          transform: translate(0px, 0px);
        }
      }
      .items3 {
        box-sizing: border-box;
        border-radius: 10%;
        border: 2px solid #eee;

        padding: 1rem;
        margin: 1rem;
        align-items: center;

        animation: itmes3 6s linear 1s backwards;
        transition: 10s transform;
      }
      @keyframes itmes3 {
        from {
          transform: translate(-1000px, 1000px) scale(2) rotate(-360deg);
        }
        to {
          transform: translate(0px, 0px);
        }
      }
      .items4 {
        box-sizing: border-box;
        border-radius: 10%;
        border: 2px solid #eee;

        padding: 1rem;
        margin: 1rem;
        align-items: center;

        animation: itmes4 5s linear 1s backwards;
        transition: 10s transform;
      }
      @keyframes itmes4 {
        from {
          transform: translate(1000px, 1000px) scale(-3);
        }
        to {
          transform: translate(0px, 0px);
        }
      }
      .items5 {
        box-sizing: border-box;
        border-radius: 10%;
        border: 2px solid #eee;

        padding: 1rem;
        margin: 1rem;
        align-items: center;

        animation: itmes5 5s linear 1s backwards;
        transition: 10s transform;
      }
      @keyframes itmes5 {
        from {
          transform: translate(-1000px, -1000px) scale(3) rotate(360deg);
        }
        to {
          transform: translate(0px, 0px);
        }
      }

      .items6 {
        box-sizing: border-box;
        border-radius: 10%;
        border: 2px solid #eee;

        padding: 1rem;
        margin: 1rem;
        align-items: center;

        animation: itmes6 5s linear 1s backwards;
        transition: 10s transform;
      }
      @keyframes itmes6 {
        from {
          transform: translate(1000px, 0px) scale(3) skew(-180deg);
        }
        to {
          transform: translate(0px, 0px);
        }
      }
    .btn{
  display: inline-block;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  font-family: cursive;
  text-transform: uppercase;
  padding: 10px;
  width: 300px;
  height: 80px;
  margin: 20px;
  box-sizing: border-box;
  border: 1px solid #ccc ;
  
  border-radius: 100px ;
  background:#f4fe;
  backdrop-filter: blur(30px);
  opacity: .7;
  

}
.btn:hover {
/* background-color: rgb(163, 147, 147); */
transition: 2s transform;
transition: 1s opacity;
transform: scale(1) rotate(360deg) ;
opacity: 1.5;
}

.button{
  background-color: none;
  animation: 10s text ease-in-out ;
  animation-fill-mode: backwards;
  
}
@keyframes text {
  from{
    transform: translate(0,500px);
  }
  to{
    transform: translate(0px,0px);
  }
}


.timer{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 50px;
  padding: 30px;
  
}
#timer1,#timer2,#timer3,#timer4{
  box-sizing: border-box;
  border-radius: 30px;
  border: 2px solid #eee;
  background-color: grey;
  margin: 20px;
  padding: 30px;
  font-size: 35px;
  width: auto;
  height: 105px;
  text-align: center;
  border-width: 5px;
  border-style: groove;
  color: red;
}
